<!DOCTYPE html>

<html>
	<head>
		<title>analytics</title>

		<link rel="stylesheet" href="/css/bootstrap.min.css">
		<link rel="stylesheet" href="/css/analytics.css">
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>  
	</head>

	<body>
		<h1 class="h3">analytics</h1>
		<div id = "app">
		<div>
			{%this.info%}
			<input id="search" v-model="seachValue" type='text'>	
		</div>

		<div class="table-container">
			<table class="table table-sm" id="t" ref="table1">
				<thead>
					<tr>
						<th scope="col">domain</th>
						<th scope="col">ip address</th>
						<th scope="col">time</th>
						<th scope="col">raw request</th>
						<th scope="col">bytes sent</th>
						<th scope="col">http referer</th>
						<th scope="col">user agent</th>
						<th scope="col">request status</th>
						<th scope="col">request time</th>
						<th scope="col">upstream connect time</th>
						<th scope="col">upstream header time</th>
					</tr>
				</thead>

				<tbody>
					{{#each row}}
					<tr>
						<td>{{this.domain}}</td>
						<td>{{this.ip_address}}</td>
						<td>{{this.time}}</td>
						<td>{{this.request}}</td>
						<td>{{this.body_bytes_sent}}</td>
						<td>{{this.http_referer}}</td>
						<td>{{this.user_agent}}</td>
						<td>{{this.request_status}}</td>
						<td>{{this.request_time}}</td>
						<td>{{this.upstream_connect_time}}</td>
						<td>{{this.upstream_header_time}}</td>
					</tr>
					{{/each}}
				</tbody>
			</table>
		</div>
		</div>
		<script>
    var vm = new Vue({
   el: '#app',
   data: {
	   info: {},
	  		active: false,
			searchValue: '',
   },
methods: {
		setValue(value) {
		        this.searchValue = value
       		 },

		},
computed: {
	    filteredRows() {
              return this.posts.filter(c => {
                const cat = c.category.toString().toLowerCase().split(' ').join('');

                return cat.includes(this.searchValue.toLowerCase().split(' ').join(''))



              });
            }
	},

   created () {
    axios
		  .post('https://jalfry.com/analytics/data', {date: this.$refs.table1.rows[1].cells[2].textContent})
      .then(response => (this.info = response))
		   .then(response => console.log(response))
  },
  delimiters: ['{%', '%}'],
});
</script>
		<script src="/js/bootstrap.min.js"></script>
		<script src="/js/analytics.js"></script>
	</body>
</html>
