<!doctype html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>jalfry</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    
    <link href="/css/permissions.css" rel="stylesheet">
  </head>

  <body class="d-flex flex-column h-100">  
	  {{> header}}
<!-- Begin page content -->
<main class="flex-shrink-0">
  <div class="container">
    <h1 class="mt-5">jalfried :)</h1>
    	<h4>admin {{username}}</h4>

	<a href="/administrator/groups" class="btn btn-secondary">back to groups</a>
  </div>
  <div class="container">

	{{#each group}}
	<div>
	  <input type="hidden" name="id" value={{this.id}} id="id">
	  <div class="mb-3">
	    <label for="g_name" class="form-label">group name</label>
	    <input type="text" class="form-control" id="g_name" name="group_name" value="{{{this.group_name}}}">
	  </div>

	  <table class="table">
		  <thead>
			  <tr>
				  <th scope="col"></th>
				  {{#each ../domain}}
				  <th scope="col">{{this}}</th>
				  {{/each}}
			  </tr>
		  </thead>

		  <tbody>
			  <tr>
				  <td>Set Permission</td>
				  {{#each ../domain}}
				  <td>
					  <select class="form-select select_role" id="{{{this}}}" onchange="permissionHandler(event, this)">
						  <option value="">None</option>
				  </td>
				  {{/each}}
			  </tr>
		  </tbody>
	  </table>
			  
	<br>

	<h6>Members</h6>
	  {{#each ../member}}
	  <div class="form-check form-check-inline">
		  {{#if this.permission_group}}
		  <input checked class="form-check-input" type="checkbox" id="{{{this.username}}}" name="username" value="{{{this.username}}}" onchange="permissionCheck({{{this.id}}}, this, event)">
		  <label class="form-check-label" for="{{{this.username}}}">{{this.username}}</label>
		  {{else}}
		  <input class="form-check-input" type="checkbox" id="{{{this.username}}}" name="username" value="{{{this.username}}}" onchange="permissionCheck({{{this.id}}}, this, event)">
		  <label class="form-check-label" for="{{{this.username}}}">{{this.username}}</label>
		  {{/if}}
	  </div>
	  {{/each}}

	  <br>
	  <br>
	</div>
	{{/each}}


  </div>
</main>

    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/edit_group.js"></script>
      
  </body>
</html>
